[run]
branch = true
omit =
    .venv/*
    */.venv/*
    tests/*
    celery_worker.py
    seed_support.py

[report]
omit =
    .venv/*
    */.venv/*
    tests/*
    celery_worker.py
    seed_support.py
