[MAIN]
ignore=.venv
# max-complexity is defined by the McCabe extension (cyclomatic complexity).
load-plugins=pylint.extensions.mccabe

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    fixme

[FORMAT]
max-line-length=120

[DESIGN]
max-complexity=10
